*{
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
audio, img, iframe, video{height: auto;}
audio, 
img, 
iframe, 
main, 
nav, 
section, 
video{
    width: 100%;
}